body{
    margin: auto;
    background-color: darkcyan;
    font-size: 100%;
    font-family: "Lexend", Roboto, sans-serif;
}

header{
    padding: 0cm 1cm;
    text-align: center;
    margin: 1em;
}

#contatti{
    margin: 10;
    background-color: darkcyan;
    font-family: "Lexend", Roboto, sans-serif;
}

#breadcrumb{
    background-color: darkslategrey;
}

#menu{
    float: left;
    width: 0;
}

main{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}